# Copier ce fichier en .env et remplir les valeurs
DATABASE_URL=postgresql://user:password@host.railway.internal:5432/railway
JWT_SECRET=remplacez_par_une_cle_secrete_longue_et_aleatoire
PORT=3000
WEB_URL=https://votre-site.vercel.app
NODE_ENV=production
